{% extends 'videos/base.html' %}

{% block content %}
	<style>
	  .my-custom-background {
		/* background-color: #f0f0f0; Ihre benutzerdefinierte Farbe */
	  	background: linear-gradient(135deg, #f056eb 0%, #c4c62f 100%) fixed;
	  	margin-top: 1rem;
	  }
	  .headingstyling {
			font-weight: 800;
		  	font-size: 2rem;
			line-height: 2rem;
		  	text-align: center;
		  	color: Black;
		  	margin-top: 1rem;
	  }
	  .datestyling {
			font-weight: 600;
		  	font-size: 2rem;
			line-height: 2rem;
		  	text-align: center;
		  	color: Black;
		  	margin-top: 1rem;
		  	margin-bottom: 0.2rem;
	  }
	  .middle {
		  display: block;
		  margin: 0 auto;
	  }
	</style>
	<h2 class=" bi bi-balloon-heart-fill headingstyling">{{ object.title }}
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart-fill" viewBox="0 0 16 16">
  		<path fill-rule="evenodd" d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2.376 2.376 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386Z"/>
	</svg></h2>
	<div class="container my-custom-background">
		<div class="row mt-5 align-self-center ">
				<div class="col-md-8 col-sm-12 col-xs-12 middle">
					<video-js
						width="720"
						height="405"
						controls
						data-setup='{"playbackRates": [1, 0.99, 1.01], "fluid": true}'>
						<source src="/media/{{ object.video_file }}" type="video/mp4">
						<p class="vjs-no-js">
						To view this video please enable Javascript, and consider upgrading to a web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
						</p>
					</video-js>
					<div class="datestyling">
						<div>
							<p>{{ object.date_posted | date:"M d, Y" }}</p>
						</div>
						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">

								</div>

							</div>
							</div>
						</div>

				</div>
		</div>
	</div>

{% endblock content %}