{% extends 'videos/base.html' %}

{% block content %}
	<div class="container">
		<div class="row mt-5">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<video-js
					width="720"
					height="405"
					controls
					data-setup='{"playbackRates": [0.5, 1, 0.99], "fluid": true}'>
					<source src="/media/{{ object.video_file }}" type="video/mp4">
					<p class="vjs-no-js">
					To view this video please enable Javascript, and consider upgrading to a web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
					</p>
				</video-js>
				<h5 class="mt-4">{{ object.title }}</h5>
				<div class="row">
					<div class="col-md-6 text-muted">
						<p>{{ object.date_posted | date:"M d, Y" }}</p>
					</div>


                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">

                            </div>

                        </div>
                        </div>
                    </div>

			</div>
		</div>
	</div>

{% endblock content %}